authentication.mysql.login.id=your_mysql_username
authentication.mysql.login.password=your_mysql_password
AUTHENTICATION_SECRET_KEY=change_me
AUTHENTICATION_MYSQL_HOST=localhost
AUTHENTICATION_MYSQL_DB=authentication
OAUTH_SECRET_KEY=change_me
GOOGLE_OAUTH_CLIENT_ID=your_google_client_id
GOOGLE_OAUTH_CLIENT_SECRET=your_google_client_secret
